@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:400,700");

body {
  background: #f2f2f2;
}
h1 {
  font-family: "Montserrat";
  text-transform: uppercase;
}

p {
  font-family: "Lato";
}

/*
--------
IMAGES
--------
*/

/* Home */
.bg-cd img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(image_path('i.jpg'));
  background-size: cover;
  z-index: -1;
}

.home {
  width: 480px;
  margin: 0 auto;
}


.home h1 {
  text-align: center;
  font-weight: 700;
}

/* Gallery */
.grid-item {
  float: left;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-bottom: 1em;	
}

.grid-item img {
  display: block;
  width: 100%;  
}

.image {
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.8s;
  cursor: pointer;
}

.image:hover{
  -webkit-filter: grayscale(0);
}

.feature {
  position: relative;
  background: white;  
  padding: 5px 12px;
  font-size: 1em;
} 

@media (max-width: 480px) {
  .grid-item {
    margin-bottom: 5px;
  }
  .feature {
    font-size: 4px;
   
    padding: 1px;
  } 

  p {
    margin-bottom: 0;
  }
}

/* Caption */
.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  text-align: center;
  font-family: "Montserrat";
  text-transform: uppercase;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.grid-item:hover .caption {
  opacity: 1;
  z-index: 1;
}

/* Image Page */
#show_image h1 {
  margin-bottom: 12px;
}

#show_image p {
  margin-top: 24px;
}

.img-responsive {
  width: 100%;
}

/* Button */
.center {
  margin: 0 auto;
  max-width: 120px;
}
.btn.btn-primary {
  background: white;
  color: grey;
  border: 2px solid grey;
  border-radius: 0;
  transition: all 0.2s ease-in;
}

.btn.btn-primary:hover {
  background: grey;
  color: white;
}

/* Navigation Bar */
.navbar-default {
  background: white;
  border: none;
  margin-bottom: 0;
}

.navbar .container-fluid {
  padding-right: 30px;
  padding-left: 30px;
}

.navbar-default a {
  font-family: "Montserrat";
  text-transform: uppercase;
}

.navbar-default li a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid #777;
  transform: rotateY(90deg);
  transition: all 0.4s;
}

.navbar-default li a:hover:after {
  transform: rotateY(0deg);
}

.sort {
  ul {
    list-style: none;
    margin: 10px 0px; 
    padding: 0;

    li {
      display: inline-block;
      padding: 5px 12px;    

      a {
        color: #777;
      }  

      a:hover {
        text-decoration: none;
        transition: 0.4s ease-in-out;
        color: #444;
      }
    }
  }
}

