@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:400,700");

html, body {
  height: 100%;
}

body {
  background: #F0F2F0;
}

h1 {
  font-family: "Montserrat";
  text-transform: uppercase;
}

p {
  font-family: "Lato";
}

a:hover {
  text-decoration: none;
}

/*
--------
IMAGES
--------
*/
.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Gallery */
.grid-item {
  float: left;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-bottom: 1em;	

  img {
    display: block;
    width: 100%;    
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  }
}

.image {
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.8s;
  cursor: pointer;

  &:hover{
    -webkit-filter: grayscale(0);
  }
}

.feature {
  position: relative;
  background: white;  
  background: linear-gradient(to top, #e4e4e4, #fff);
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  padding: 5px 12px;
  font-size: 1em;
  border-radius: 0px 0px 8px 8px;
} 

@media (max-width: 480px) {
  .grid-item {
    width: 100%;
  }

  p {
    margin-bottom: 0;
  }
}

/* Caption */
.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  text-align: center;
  font-family: "Montserrat";
  text-transform: uppercase;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.grid-item:hover .caption {
  opacity: 1;
  z-index: 1;
}

/* Image Page */
#show_image {
  h1 {
    margin-bottom: 12px;
  }
  
  p {
    margin-top: 24px;
  }
}

.img-responsive {
  width: 100%;
}

/* Button */
.btn.btn-primary {
  background: white;
  color: grey;
  border: 2px solid grey;
  border-radius: 0;
  transition: all 0.2s ease-in;

  &:hover {
    background: grey;
    color: white;
  }
}

/* Navigation Bar */
.navbar-default {
  background: #16222A; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #16222A , #3A6073); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #16222A , #3A6073); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  border: none;
  margin-bottom: 0;
  border-radius: 0;

  .navbar-toggle:hover {
    background-color: white;
  }

  a.navbar-brand:hover {
    color: white;
  }

  .navbar-brand {
    color: white;
  }

  .navbar-nav > li > a {
    cursor: pointer;
    color: white;

    &:hover {
      color: white;
    }
  }

  a {
    font-family: "Montserrat";
    text-transform: uppercase;
  }

  li {
    a {
      &:hover {
        &:after {
          transform: rotateY(0deg);
        }
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-bottom: 4px solid white;
        transform: rotateY(90deg);
        transition: all 0.4s;
      }
    }
  }
}

.navbar .container-fluid {
  padding-right: 30px;
  padding-left: 30px;
}

.sort {
  color: #3A6073;

  ul {
    list-style: none;
    margin: 10px 0px; 
    padding: 0;

    li {
      display: inline-block;
      padding: 5px 12px;    

      a {
        color: #3A6073;
      }  

      a:hover {
        text-decoration: none;
        color: darken(#3A6073, 10%);
      }
    }
  }
}

