<div class = "container-fluid">
	<div class = "sort">
		<ul>
			<li><strong>Sort by:</strong> </li>
			<li><%= link_to '<i class="fa fa-calendar" aria-hidden="true"></i> Latest'.html_safe %></li>
			<li><%= link_to '<i class="fa fa-star" aria-hidden="true"></i> Most Inspired'.html_safe, :sort => "inspired_count" %></li>
		</ul>
	</div>
	<div class = "grid">		
		<%= render 'feed' %>
	</div>
	<%= render "dialog" %>
</div>